* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/john-matychuk-gUK3lA3K7Yo-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

/* CSS Admin Beranda */

.div-adminberanda {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div-adminberanda h1 {
  font-family: "Curlz MT";
  letter-spacing: 3px;
  color: white;
}

.div-adminberanda img {
  width: 50px;
}

.div-adminberanda ul li a {
  text-decoration: none;
  font-size: 15px;
}

.div-adminberanda ul {
  list-style: none;
}

.div-adminberanda a {
  color: white;
  padding-right: 50px;
  font-family: "Curlz MT";
  letter-spacing: 2px;
  font-weight: bold;
}

.div-adminberanda a:hover {
  color: red;
  transition: 0.3s ease-in-out;
}

/* CSS Admin Main*/

.main-admin {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-admin h2 {
  color: white;
  text-align: center;
}

.div-tableuserdata {
  display: flex;
  justify-content: center;
}

.table-userdata {
  border-collapse: collapse;
  margin-top: 10px;
  background-color: white;
}

.table-userdata th,
td {
  border: 1px solid;
  padding: 10px;
  color: black;
  text-align: center;
}

.div-tablebooking {
  display: flex;
  justify-content: center;
}

.table-booking {
  border-collapse: collapse;
  margin-top: 10px;
  background-color: white;
}

.table-booking th,
td {
  border: 1px solid;
  padding: 10px;
  color: black;
  text-align: center;
}
